.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  &-item {
    display: flex;
    height: 90px;
    width: 210px;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: $time;
  }

  &-item:nth-child(odd) {
    margin-right: 30px;
  }

  &-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }

  &-item svg {
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: $time;
  }

  &-item:hover {
    border: 1px solid $accentcolour;
  }
  &-item:hover svg {
    fill: $accentcolour;
  }

  &-logo {
    fill: #afb1b8;
  }
}

@media screen and (min-width: 320px) {
  .clients-item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .clients-item {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .clients-item {
    display: flex;
    height: 90px;
    width: 210px;
    justify-content: center;
  }

  .clients-item:nth-child(odd) {
    margin-right: 30px;
  }

  .clients-item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}
