.features {
  padding-top: 60px;
  padding-bottom: 60px;

  &-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
  }

  &-block {
    display: block;
  }

  &-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &-list {
    justify-content: space-around;
  }

  &-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $textcolour;
  }

  &-item::before {
    display: block;
    content: "";
    height: 120px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;

    margin-bottom: 30px;
  }

  &-item:nth-child(1)::before {
    background-image: url(../images/pictures/antenna.svg);
  }

  &-item:nth-child(2)::before {
    background-image: url(../images/pictures/clock.svg);
  }

  &-item:nth-child(3)::before {
    background-image: url(../images/pictures/diagram.svg);
  }

  &-item:nth-child(4)::before {
    background-image: url(../images/pictures/astronaut.svg);
  }
}
