.logo {
  color: $accentcolour;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  padding-top: 16px;
}

.header-logo {
  color: #000;
}

.footer-logo-part {
  color: $primarywhitecolour;
}
